{% extends "todo/base.html" %}

{% block content %}

<html>
    <head>
        <meta http-equiv="refresh" content="15">
      </head>
    <br>
        <br>
        <br>
        <br>
    <div class="row justify-content-center mt-12">
            <div class="col-md-12 text-center">
    
                     <h1>YOU HAVE SUCCESSFULLY BOOKED AN APPOINTMENT</h1>
                     <hr>
                     <br>
                <p class="text-justify">
    
                    Please login at your slot time.
                </p>
                <br>
                </div>
                </div>
    </html>

{% endblock %}