{% extends "todo/base.html" %}

{% block content %}

    <br>
    <br>

    <div class="row justify-content-center mt-5">
        <div class="text-center">
            <h2>Enter OTP</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
      
            <form action="/current/">
                <div class="form-group">
                    <input type="text" name="otp" class="form-control" id="otp" aria-describedby="usernameHelp">
                </div>

            <br>

            {% if not error %}

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            {% endif %}
            </form>
            
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                <br>
                <div class="text-center">
                    Go back to Login page : <a href="{% url 'loginuser' %}">Login here</a>
                </div>
                {% endif %}



            <!-- <div class="text-center">
                Do you already have an account? <a href="{% url 'loginuser' %}">Login here</a>
            </div> -->
        </div>
    </div>
{% endblock %}
